* {
  margin: 0;
  padding: 0; }

h2 {
  color: #000;
  font-family: sans-serif;
  margin-top: 30px; }

h1 {
  color: #000;
  font-size: 20px;
  font-family: sans-serif; }

.navbar {
  padding-bottom: 12px; }

header {
  position: relative;
  z-index: 100; }

section {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  opacity: 0.8; }

.visible {
  opacity: 1;
  display: table; }

.content {
  background: #fff;
  display: table-cell;
  vertical-align: middle; }

h1 {
  color: #ccc;
  font-size: 2px; }

#nameAbout {
  background: #e4e7e9;
  padding: 10px;
  border-left: 10px solid #e2a9a9;
  margin-bottom: 60px;
  margin-top: 150px; }

.glyphicon-stop {
  color: #e2a9a9; }

h1 {
  color: #000;
  font-family: sans-serif;
  margin-top: 30px;
  font-size: 20px; }

h5 {
  display: inline-block;
  margin-left: 10px;
  font-size: 20px;
  font-family: serif; }

.profetion {
  margin-top: 100px; }

#nexo {
  background: #cfd3d7; }

h4 {
  display: inline-block;
  margin-left: 10px; }

.glyphicon-plus {
  background: #c3c3c3;
  padding: 13px 25px; }

#pAbout {
  margin-bottom: 30px; }

.corusel {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0; }

.content .main {
  max-width: 1000px; }

#home {
  height: 100%;
  background-attachment: inherit; }

.slides {
  width: 100%; }
  .slides img {
    width: 100%; }

.slidesjs-pagination {
  background: #424242;
  list-style: none;
  overflow: hidden; }
  .slidesjs-pagination li {
    float: left; }
    .slidesjs-pagination li a {
      display: block;
      padding: 15px 20px;
      color: #fff;
      text-decoration: none; }

.slidesjs-pagination li a:hover {
  background: #000; }

.slides .active {
  background: #000; }

.slidesjs-navigation {
  background: #000;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 18px 20px;
  float: right; }

.meSkills {
  margin-top: 30px; }

#nameSkills {
  background: #e4e7e9;
  padding: 10px;
  border-left: 10px solid #e2a9a9;
  margin-bottom: 60px;
  margin-top: 60px; }

figure {
  margin: 0 0 20px;
  text-align: center; }

#portfolio {
  width: 100%; }

.tile {
  float: left;
  min-height: auto;
  width: 30%;
  border: 1px #fff solid; }

.tile:hover {
  opacity: 0.5;
  background-position: center; }

.web {
  background: rgba(255, 255, 255, 0.76); }

.flyers {
  background: #000000; }

.bcards {
  background: #ffffff; }

.container-inner {
  display: table-cell;
  vertical-align: middle; }

.contact {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 0.1618em;
  line-height: 2.618em; }

.meContact {
  color: #2ecc71; }

nav {
  text-align: center; }

ul, li, a {
  display: inline-block; }

.formatos {
  border-right: 1px solid #DDD;
  padding: 5px 7px 5px 5px; }

.formatos last-child {
  border-right-color: transparent; }

.formatos {
  width: 64px;
  height: 64px;
  line-height: 64px;
  text-decoration: none;
  color: #111;
  font-family: sans-serif;
  size: 24px; }

/*# sourceMappingURL=main.css.map */
