* {
  margin: 0;
  padding: 0; }

h2 {
  color: #000;
  font-family: sans-serif;
  margin-top: 30px; }

h1 {
  color: #000;
  font-size: 20px;
  font-family: sans-serif; }

.navbar {
  padding-bottom: 7px; }
.navbar-toggle{
    padding-top: 15px;
    background: #000;
    border: none;
}

header {
  position: relative;
  z-index: 100; }

section {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  opacity: 0.8; }

.visible {
  opacity: 1;
  display: table; }

.content {
  background: #fff;
  display: table-cell;
  vertical-align: middle; }

/*ABOUT ME*/
#nameAbout {
  background: #e4e7e9;
  padding: 10px;
  border-left: 10px solid #e2a9a9;
  margin-bottom: 60px;
  margin-top: 150px; }

.fondoAbout{
  background-image: url(../img/fondoAboutme.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 60%;
  color: #fff;
  padding: 50px;
}
.oscuro{
  background: rgba(74, 74, 74, 0.67);
  height: 50%;
}
.glyphicon-stop {
  color: #e2a9a9; }

h1 {
  color: #000;
  font-family: sans-serif;
  margin-top: 30px;
  font-size: 20px; }

@keyframes caret{
    50%{
        border-color: transparent;
    }
}

/*About me-mkt fe---------*/
figure.snip0057 {
  font-family:sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 40px 1%;
  height: 400px;
  width: 100%;
  background: #fff;
  color: #000;
}
figure.snip0057 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
figure.snip0057 .image {
  width: 50%;
  overflow: hidden;
  z-index: 1;
  -webkit-transform: skewX(-15deg);
  transform: skewX(-15deg);
}
figure.snip0057 .image img {
  height: 400px;
  position: relative;
  display: block;
  left: 5%;
  z-index: 1;
  -webkit-transform: skew(5deg);
  transform: skew(5deg);
}
figure.snip0057 figcaption {
  padding: 20px 10px;
  position: absolute;
  right: 0;
  bottom: 10px;
  width: 50%;
}
figure.snip0057 figcaption h2,
figure.snip0057 figcaption p {
  margin-right: 5px;
  text-align: right;
  padding: 10px 0;
  width: 100%;
  
}
figure.snip0057 figcaption h2 {
  font-size: 112%;
  font-weight: 300;
  text-transform: uppercase;
}
figure.snip0057 figcaption h2 span {
  font-weight: 800;
}
figure.snip0057 figcaption p {
  font-size: 85%;
}

figure.snip0057 .position {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: right;
  padding: 15px 30px;
  font-size: 100%;
  font-style: italic;
  color: #fff;
  background: rgba(226, 169, 169, 0.71);
}

figure.snip0057:hover figcaption,
figure.snip0057.hover figcaption {
  bottom: 40px;
  background: #ccc;
}

/**/
ul {
  list-style-type: none;
}
a {
  text-decoration : none;
}

.f {
  font-size: 0.8em;
  position: fixed;
  top: 5px;
  right: 10px;
  color : #070707;
}

.f a {
  color : #FFC6C6;
}

/* FOOTER */

.Footer {
  position : absolute;
  top : 50%;
  right : 50%;
  transform:translateY( -80% );
}

.Footer::before {
  content : '';
  position : absolute;
  bottom : 25%;
  right : 0;
  width : 300px;
  height : 25%;
  background-color : #FFC6C6;
  animation : translate1 3000ms infinite;
}

.Footer-items {
  width : 300px;
  float : right;
}
.Footer-item {
  display : inline-block;
  width : 50px;
  height : 50px;
  text-align: center;
}
.Footer-link {
  position : relative;
  display: block;
  width : 100%;
  height : 100%;
  opacity : 0;
  animation : translate2 3000ms infinite;
}
.Footer-item:nth-child(2) .Footer-link {
  animation-delay : ($3000ms/50);
}
.Footer-item:nth-child(3) .Footer-link {
  animation-delay : (3000ms/50)*2;
}
.Footer-item:nth-child(4) .Footer-link {
  animation-delay : (3000ms/50)*3;
}
.Footer-item:nth-child(5) .Footer-link {
  animation-delay : (3000ms/50)*4;
}

.Footer-icon {
  color : #070707;
  position: absolute;
  left : 50%;
  top : 50%;
  font-size : 1.6em;
  transform : translate( -50%, -50% );
  transition : 0.3s;

}

.Footer-link:hover {  
    background:#FFC6C6; 
    top : 30%;
  }
@keyframes translate1{
  0% { opacity : 0; margin-right : -7%; }
  20% { opacity : 1; margin-right : 0; }
  65% { opacity : 1; margin-right : 0; }
  85% { opacity : 0; margin-right : 10%; }
  100% { opacity : 0; margin-right : 10%; }
}
@keyframes translate2{
  2% { opacity : 0; margin-left : 175%; }
  21% { opacity : 1; margin-left : 0%; }
  64% { opacity : 1; margin-left : 0%; }
  80% { opacity : 0; margin-left : -250%; }
  100% { opacity : 0; margin-left : -250%; }
}
/**/
#nexo {
  background: #cfd3d7; }

h4 {
  display: inline-block;
  margin-left: 10px; }

.glyphicon-plus {
  background: #c3c3c3;
  padding: 13px 25px; }

.corusel {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0; 
}

.content .main {
  max-width: 1000px; }

#home {
  height: 100%;
  background-attachment: inherit; }

.slides {
  width: 100%; }
  .slides img {
    width: 100%; }

.slidesjs-pagination {
  background: #424242;
  list-style: none;
  overflow: hidden; }
  .slidesjs-pagination li {
    float: left; }
    .slidesjs-pagination li a {
      display: block;
      padding: 15px 20px;
      color: #fff;
      text-decoration: none; }

.slidesjs-pagination li a:hover {
  background: #000; }

.slides .active {
  background: #000; }

.slidesjs-navigation {
  background: #000;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 18px 20px;
  float: right; }

#portfolio {
  width: 100%; }

.tile {
  float: left;
  min-height: auto;
  width: 30%;
  border: 1px #fff solid; }

.tile:hover {
  opacity: 0.5;
  background-position: center; }

.web {
  background: rgba(255, 255, 255, 0.76); }

.flyers {
  background: #000000; }

.bcards {
  background: #ffffff; }

.container-inner {
  display: table-cell;
  vertical-align: middle; }

.contact {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 0.1618em;
  line-height: 2.618em; }

.meContact {
  color: #2ecc71; }

nav {
  text-align: center; }

ul, li, a {
  display: inline-block; }

.formatos {
  border-right: 1px solid #DDD;
  padding: 5px 7px 5px 5px; }

.formatos last-child {
  border-right-color: transparent; }

.formatos {
  width: 64px;
  height: 64px;
  line-height: 64px;
  text-decoration: none;
  color: #111;
  font-family: sans-serif;
  size: 24px; }

/*SKILLSSSSS*/
#skillsHabil{
   font-weight: bold;
   color: #ccc;
}
.skillsImg{
   background-image: url(https://snap-photos.s3.amazonaws.com/img-thumbs/960w/BF24DAFE14.jpg);
   width: 100%;
   background-repeat: no-repeat;
   background-size: cover;
   opacity: 0.9;
}

.skills,
.skills .skill,
.skills .skill .skill-title,
.skills .skill .skill-bar {
   width: 100%;
   float: left;
}

.skills .skill {
   margin-bottom: 20px;
}

.skills .skill .skill-title {
   color: #ccc;
   margin-bottom: 8px;
   font-weight: bold;
   font-size: 14px;
   
}

.skills .skill .skill-bar {
   width: 0;
   height: auto;
   background: rgba(0, 0, 0, 0.1);
   transition: 1s cubic-bezier(1, 0, .5, 1);
   -webkit-transition: 1s cubic-bezier(1, 0, .5, 1);
   -ms-transition: 1s cubic-bezier(1, 0, .5, 1);
}

.skills.active .skill .skill-bar {
   width: 100%;
}

.skills .skill .skill-bar span {
   float: left;
   width: 0%;
   background: #00ff3b;
   height: 10px;
   position: relative;
   transition: 1s cubic-bezier(1, 0, .5, 1);
   -webkit-transition: 1s cubic-bezier(1, 0, .5, 1);
   -ms-transition: 1s cubic-bezier(1, 0, .5, 1);
}

.skills .skill .skill-bar span b {
   float: left;
   width: 100%;
   position: relative;
   text-align: right;
   opacity: 0;
   font-size: 14px;
   color: rgba(255, 255, 255, 0);
   font-weight: 400;
   top: -13px;
}

#skillContenedor{
    width: 100%;
    max-width: 600px;
    padding: 0 15px;
    margin: auto;
}
/*PORTAFOLIO*/



figure.effect-duke img,
figure.effect-duke p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-duke:hover img {
	opacity: 0.1;
	-webkit-transform: scale3d(2,2,1);
	transform: scale3d(2,2,1);
}

figure.effect-duke h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: scale3d(0.8,0.8,1);
	transform: scale3d(0.8,0.8,1);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}

figure.effect-duke p {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 20px;
	padding: 30px;
	border: 2px solid #fff;
	text-transform: none;
	font-size: 100%;
	opacity: 0;
	-webkit-transform: scale3d(0.8,0.8,1);
	transform: scale3d(0.8,0.8,1);
	-webkit-transform-origin: 50% -100%;
	transform-origin: 50% -100%;
}

figure.effect-duke:hover h2,
figure.effect-duke:hover p {
	opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

.grid figure {
		display: inline-block;
		float: none;
		margin: 10px auto;
		width: 100%;
	}
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	font-size: 50px;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
    color: #fff;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 60%;
}
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	width: 48%;
	height: auto;
	background: rgba(163, 48, 119, 0.5);
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
}

.grid figure figcaption {
	padding: 15%;
	color: #fff;
	text-transform: uppercase;
	font-size: 140%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.grid {
	position: relative;
	clear: both;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}







/*# sourceMappingURL=main.css.map */
