.container-inner {
  display: table-cell;
  vertical-align: middle;
}

.contact{
  text-align: center;
  font-size: 48px;
  font-weight: bold;
   letter-spacing: 0.1618em;
  line-height: 2.618em;  
  }
   
  
  
 .meContact {
    color: #2ecc71;
  }


nav {
  text-align: center;
}

ul, li, a {
  display: inline-block;
}

.formatos{
  border-right: 1px solid #DDD;
  padding: 5px 7px 5px 5px;
}
  .formatos last-child {
    border-right-color: transparent;
  }


.formatos{
  width: 64px;
  height: 64px;
  line-height: 64px;
  text-decoration: none;
  color: #111;
  font-family: sans-serif;
    size: 24px;
  }
  